mysql-connector-python-8.0.21-windows-x86-64bit.msi
Certificado StartPython.pdf
PYTHON_DS/Aspectos Para Estudo no Compo de DataScience.PNG
Modos de arquivos da função open().PNG
JUPYTER/Apostila Python Para DataScience e Machine Learning.zip
Curso - Python Para Data Science e Machine Learning (Material)/Apostila Python Para DataScience e Machine Learning.zip
